<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Site for Ask42</title>
</head>
<body>
<div class="container">
    <h2 style="color: gray" align="center">MY TEXT</h2>
    {% for message in messages %}
    <div>{{ message.text }}</div>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert fade show">
                <div class="alert alert-secondary fade show" id="answer">
                    <button type="button" data-dismiss="alert" class="close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('add_message') }}" method="post">
        <textarea name="text" id="text" class="form-control"
                  placeholder="Input text"></textarea><br>
        <input type="button" class="btb btn-block btn-lg btn-outline-secondary"
               value="Send Message" align="center" onclick="add_message()">
    </form>
</div>
<script>function add_message() {
    $.ajax({
        type: "POST",
        url: "{{ url_for('add_message') }}",
        data: $('form').serialize(),
        type: 'POST',
        success: function(response) {
            var json = jQuery.parseJSON(response)
            $('#answer').html(json)
            console.log(response);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
</body>
</html>


